<%= form_with(model: oneclick, local: true) do |form| %>
  <% if oneclick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oneclick.errors.count, "error") %> prohibited this oneclick from being saved:</h2>

      <ul>
        <% oneclick.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
