<%= form_with(model: transbank, local: true) do |form| %>
  <% if transbank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transbank.errors.count, "error") %> prohibited this transbank from being saved:</h2>

      <ul>
        <% transbank.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
